:root {
  --yellow: #ffc600;
  --black: #272727;
}

html {
  font-family: "Hind", sans-serif;
  font-size: 20px;
  background-color: aliceblue;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #444;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.item {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 5px;
  font-size: 35px;
  background-color: var(--yellow); /* best colour */
}

.item p {
  margin: 0 0 5px 0;
}

p {
  line-height: 1.8;
}

em {
  display: inline;
  margin: 0;
}

img {
  border-radius: 5px;
}

button {
  background: #ffc600;
  border: 0;
  padding: 10px 20px;
}

a {
  color: black;
  -webkit-text-decoration: underline wavy var(--yellow);
  text-decoration: underline wavy var(--yellow);
  font-size: 18px;
  display: inline-block;
  margin: 0;
}

icon {
  margin: 0px !important;
  display: inline !important;
}

h1,
h2 {
  font-size: 80px;
  font-style: italic;
  font-weight: 900;
  margin: 0;
  text-align: center;
}

h3 {
  font-size: 40px;
  font-style: italic;
  font-weight: 100;
  margin: 0;
  text-align: center;
}

.post {
  display: -ms-grid;
  display: grid;
  max-width: 1300px;
  margin: 100px auto;
  grid-gap: 10px 50px;
  -ms-grid-columns: 3fr 50px 12fr 50px 5fr;
  grid-template-columns: 3fr 12fr 5fr;
}

.post > * {
  grid-column: 2 / -2;
}

.post > figure {
  margin: 0;
}

figure > img {
  width: 100%;
  -o-object-fit: contain;
  object-fit: contain;
  /* min-width: 250px; */
}

figcaption {
  font-size: 14px;
  text-align: center;
}

.post > blockquote {
  grid-column: 2 / -2;
  font-size: 40px;
  font-style: italic;
  text-align: center;
  margin: 0;
}

.tip {
  background: #fafafa;
  padding: 10px;
  -ms-grid-row-span: 5;
  grid-row: span 5;
  -ms-grid-row-align: start;
  align-self: start;
  font-size: 16px;
}

.tip-left {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / span 1;
  text-align: right;
  border-right: 2px solid var(--yellow);
}

.tip-right {
  -ms-grid-column-span: 1;
  grid-column: span 1 / -1;
  border-left: 2px solid var(--yellow);
}

.tip-right img {
  max-width: 250px;
}

.tip ul {
  list-style-type: square;
  padding: 0;
  margin: 0;
}

.tip li:nth-child(odd) {
  border-left: 2px solid grey;
  list-style: none;
  padding: 0 5px;
  margin: 10px 0;
}

.tip li:nth-child(even) {
  border-left: 2px solid grey;
  list-style: none;
  padding: 0 5px;
  margin: 10px 0;
}
.tip p {
  margin: 0;
}

@media screen and (max-width: 1200px) {
  article.post h1,
  article.post h2 {
    font-size: 50px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
    grid-column: 1 / -1;
    text-align: center;
  }
  article.post h3 {
    font-size: 34px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
    grid-column: 1 / -1;
    text-align: center;
  }

  .post {
    -ms-grid-columns: 1fr 50px 3fr 50px 1fr;
    grid-template-columns: 1fr 3fr 1fr;
  }
}

/* Menu */

.menu ul {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  padding: 0;
  font-weight: 900;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.menu a {
  background: var(--yellow);
  display: block;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: var(--black);
  text-transform: uppercase;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

.menu a:hover {
  background-color: #f5cd03;
}

.menu a:hover {
  background-color: #f5cd03;
}

.menu a.open {
  -webkit-text-decoration: underline wavy var(--black);
  text-decoration: underline wavy var(--black);
}

[aria-controls="menu-list"] {
  display: none;
}

/* Tablet media query */

@media screen and (max-width: 1200px) {
  .post {
    grid-gap: 5px 0;
    margin: 0 auto !important;
  }

  .post > blockquote {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    margin: 0;
    grid-column: 1 / -1;
  }

  /* :not(.tip),
  :not(.tip-right),
  :not(nav .menu) {
    grid-column: 1 / -1;
    margin: 20px 10px;
  } */

  .tip {
    grid-column: 2/-2;
    font-size: 15px;
  }

  .tip-left {
    text-align: center;
  }

  .tip img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 80%;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

/* phone mediaquery */

@media (max-width: 700px) {
  .post > * {
    grid-column: 1/-1;
  }

  .menu {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    -webkit-perspective: 800px;
    perspective: 800px;
    grid-column: 1/-1;
  }

  [aria-controls="menu-list"] {
    display: block;
    /* margin-bottom: 10px; */
  }

  .menu ul {
    max-height: 0;
    overflow: hidden;
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }

  [aria-expanded="true"] ~ ul {
    display: -ms-grid;
    display: grid;
    max-height: 500px;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
  }

  [aria-expanded="false"] .close {
    display: none;
  }

  [aria-expanded="true"] .close {
    display: inline-block;
  }

  [aria-expanded="true"] .open {
    display: none;
  }

  button {
    margin: 0 auto;
  }

  .menu a {
    font-size: 15px;
  }

  .menu ul {
    -webkit-margin-after: 0;
    margin-block-end: 0;
  }

  .tip.profile {
    grid-column: 1/-1;
  }
}

@media screen and (max-width: 600px) {
  .post {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
  article.post h2 {
    display: block;
    font-size: 36px;
  }
  article.post h3 {
    display: block;
    font-size: 22px;
  }

  blockquote > p {
    line-height: 1.4;
  }
}

@media screen and (max-width: 600px) {
  .post p {
    -ms-grid-column-span: 1;
    grid-column: 1/-1;
  }
}
